@{
    ViewData["Title"] = "Home Page";
}

@model UserInputView;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h2 class="display-6">Please enter a series of integers, separated by commas(,) </h2>
    @using (Html.BeginForm("Rearrange", "Home", FormMethod.Post))
    {
        @Html.TextAreaFor(model => model.CommaSeparatedNumbers)
        <br />
        @Html.ValidationMessageFor(model => model.CommaSeparatedNumbers, "", new { @class = "text-danger"})
        <br />
        <div class="btn">
            <button type="submit">Rearrange Order</button>
        </div>
        <br />
        <h6>Result: </h6>
        <br />
        @Html.DisplayFor(model => model.CommaSeparatedNumbers)
    }
</div>

<style>
    textarea {
        width: 400px;
        height:200px;
    }
</style>